

.ant-layout-sider {
    background-color: #005386 !important; /* CMYK : 100, 35, 0, 40 */
    
}

.ant-menu-dark .ant-menu-sub, 
.ant-menu.ant-menu-dark {
    background-color: #005386 !important;
}

.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #003658 !important;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  /* color: red !important;
  border-bottom: 2px solid red; */
}