

.ant-layout-sider {
    background-color: #005386 !important; /* CMYK : 100, 35, 0, 40 */
    
}

.ant-menu-dark .ant-menu-sub, 
.ant-menu.ant-menu-dark {
    background-color: #005386 !important;
}

.ant-menu.ant-menu-dark .ant-menu-sub {
  /* background-color: #003658 !important; */
  /* box-shadow: inset 0px 0px 10px -5px black !important; */
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  /* color: red !important;
  border-bottom: 2px solid red; */
}
/* 메인 메뉴 글자색 */
.ant-menu {
  color: white !important;
  font-size: 1.5rem;
}
.ant-menu .ant-menu-sub .ant-menu-inline {
  
}

.ag-cell-focus {
  border : 0 solid transparent !important;
}

/* .ant-menu li:hover {
  background: #01446e !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
} */

.ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open::selection {
  /* background: red !important; */
}
/* 메인메뉴 배경색 */
.ant-menu-submenu:hover {
  background: #01446e !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}
/* 서브 메뉴 글자색 */
.ant-menu-item-group-title {
  /* color: white !important; */
  font-size: 1.3rem;
  height: 5rem;
  display: flex;
  align-items: center;
}
/* 서브 메뉴 */
.ant-menu-item-group-title:hover {
  color: rgba(255, 255, 255);
}
.ant-menu-item-group-title a:hover {
  color: white !important;
}

.ag-header {
  background-color: #EDF2F8 !important;
}

.ant-picker-clear {
  display: none !important;
}

/* 타임라인 */
.rt {
  display: flex;
  flex-direction: column;
}
.rt-layout {
  border: 1px solid #babfc7;
}
.rt-controls {
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#rtTitle {
  font-size: 1.8rem;
  /* margin-bottom: 1rem; */
  /* margin-top: 1.5rem; */
  font-family: "Pretendard-SemiBold";
}
.rt-controls__button {
  border: 1px solid gray;
  border-radius: 0.3rem;
}
/* 상단 헤더 */
.rt-timebar-key {
  font-size: 1.3rem;
}
/* 좌측 헤더 */
.rt-timebar__cell {
  font-size: 1.3rem;
}
/* 좌측 바디 */
.rt-track-key__title{
  font-size: 1.5rem;
}
/* build element 제목 */
.rt-element__title {
  font-size: 1.4rem;
}
/* 마우스 따라다니는 마커 */
.rt-marker__content {
  font-size: 1.5rem;
}